{
    "./test_crates/enum_tuple_variant_field_arity/": [
        {
            "current_fields_count": Uint64(3),
            "enum_name": String("EnumTupleFieldAdded"),
            "old_fields_count": Uint64(2),
            "path": List([
                String("enum_tuple_variant_field_arity"),
                String("EnumTupleFieldAdded"),
            ]),
            "span_begin_line": Uint64(8),
            "span_filename": String("src/lib.rs"),
            "variant_name": String("TupleVariantWithPublicFieldAdded"),
        },
        {
            "current_fields_count": Uint64(1),
            "enum_name": String("EnumTupleFieldDeleted"),
            "old_fields_count": Uint64(2),
            "path": List([
                String("enum_tuple_variant_field_arity"),
                String("EnumTupleFieldDeleted"),
            ]),
            "span_begin_line": Uint64(13),
            "span_filename": String("src/lib.rs"),
            "variant_name": String("TupleVariantWithPublicFieldDeleted"),
        },
    ],
}
